

.conocenos { 
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      .sectiondos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        img{
          height: 30vw;
          width: 30vw;
        }

      .foto1{
          width: 50vw;
          padding-left: 15%;
        }

      .foto2{
        height: 20vw;
        
      }

      .foto3{
        width: 38vw;
        height: 25vw;
        padding-left: 40%;
      }

      }
      
        .sectionuno{
            width: 40vw;
            height: 78vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: transparentize($color: #b60505ab, $amount: 0);
            border-color: rgb(224, 108, 30);
            border-style: ridge;
            border-radius: 15px;
          
            .titulo { font-family: Alegra-bold;}
          
            .texto {
              p{
              font-family: Alegra-bold;
              font-weight: bolder;
              font-size: 120%;
              }
            }
        }
      }

  

  


  @media (max-width: 800px) {
    .conocenos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .sectionuno{
        width: 100%;
        margin: 2%;
        height: fit-content;
      }

    .sectiondos{

      flex-wrap: wrap;
      align-content: center;
    
      .foto1{
        padding: 0%;
        width: 80%;
        height: 100%;
      }

      .foto2{
        display:none
      }

      .foto3{ 
      display:none
      }
    }
   }
  }
