@keyframes rotacion{
    0%{
        rotate: 15deg;
    }
    100%{
        rotate: -15deg;
    }
}
    
    
    .orden{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    ul{
        display: inline-block;
        background-color: rgba(184, 109, 22, 0.753);
        padding: 10%;
        margin-left: 2%;
        border-radius: 10px;
    }

    .equipo{
    font-size: x-large;
    color: rgb(97, 6, 6);
    background-color: transparent;
    font-weight: bold;
    display: inline-block;
    margin: 50px 10px;
        }


    h4{
    font-style: italic;
    margin: 0px 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
        }

    .dudas{
        font-size: larger;
        display: flex;
        flex-direction: column;
        width: 25%;
        color:rgb(180, 109, 52);
        background-color: rgb(97, 6, 6);
        text-align: center;
        padding: 4%;
        border-radius: 50px;
        position: relative;
        animation: rotacion 1s infinite alternate-reverse;
        
        a{
            text-decoration: none;
            color: rgb(240, 159, 39);
            text-align: center;
        }
    }

    @media (max-width: 700px){
        .orden{
            flex-direction: column;
        }

        .dudas{
            padding: 0;
            width: 50%;
            border-radius: 0%;
        }
    }
    

